<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>
<title>Pesquisa de títulos</title>
</head>

<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">Pesquisa de títulos</h1>
				<a class="btn btn-link aw-link-panel" th:href="@{/titulos/novo}">Novo Título</a>
			</div>
		</div>

		<div class="panel-body">
			<form method="GET" class="form-horizontal" th:action="@{/titulos}" th:object="${filtro}">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control" placeholder="Busca pela Descrição ou Categoria" autofocus="autofocus" th:field="*{descricao}"></input> <span
								class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>

			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th class="text-center col-md-3">Descrição</th>
							<th>Email</th>
							<th class="text-center col-md-2">Data de Vencimento</th>
							<th class="text-right col-md-1">Valor</th>
							<th class="text-center col-md-2">Categoria</th>
							<th class="text-center col-md-2">Status</th>
							<th class="col-md-2"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="titulo,iterationStatus : ${titulos}">
						    <td th:text="${iterationStatus.count}" th:attr="bgcolor=${titulo.vencido ? 'lightcoral' : null}">1</td>
							<td class="text-center" th:text="${titulo.descricao}"></td>
							<td th:text="${titulo.email}"></td>
							<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
							<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
							<td class="text-center"><span class="label"
								th:text="${titulo.situacao.descricao}"
								th:classappend="${titulo.receber ? 'label-primary' : 'label-info'}"></span>
							</td>
							
							<td class="text-center"><th:block th:switch="${titulo.status.descricao}">
								<span th:case="'Pendente'" class="label label-danger"
									th:text="${titulo.status.descricao}"></span>
								<span th:case="'Finalizado'" class="label label-success"
									th:text="${titulo.status.descricao}"></span>
								<span th:case="'Cancelado'" class="label label-default"
									th:text="${titulo.status.descricao}"></span>
							</th:block></td>
							
							<td class="text-center"><a class="btn btn-link btn-xs"
								th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}"
								title="Editar" rel="tooltip" data-placement="top"> <span
									class="glyphicon glyphicon-pencil"></span>
							</a> <a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
								th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"
								title="Excluir" rel="tooltip" data-placement="top"> <span
									class="glyphicon glyphicon-remove"></span>
							</a> <a class="btn btn-link btn-xs" data-toggle="modal"
								data-target="#confirmacaoEmailModal" th:if="${titulo.pendente}"
								th:attr="data-codigo=${titulo.codigo}, data-email=${titulo.email}"
								title="Enviar Cobrança" rel="tooltip" data-placement="top"
								id="bt_email"> <span class="glyphicon glyphicon-envelope"></span>
							</a> <a class="btn btn-link btn-xs js-atualizar-status"
								th:if="${titulo.pendente}" title="Receber" rel="tooltip"
								data-placement="top" th:attr="data-codigo=${titulo.codigo}"
								th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}">
									<span class="glyphicon glyphicon-check"></span>
							</a></td>
						</tr>
						<tr>
							<td colspan="8" th:if="${#lists.isEmpty(titulos)}">Nenhum título foi encontrado</td>
						</tr>
					</tbody>
				</table>
				</div>
				
		<div th:if="${page.totalPages != 1}" class="pagination-centered" align="center">
          <div>
              <ul class='pagination'>
                  <li th:class="${page.firstPage}?'disabled':''">
					  <span th:if='${page.firstPage}'>Primeiro</span>
					  <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>Primeiro</a>
                  </li>
                  <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
					  <span th:if='${not page.hasPreviousPage}'>«</span>
					  <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'>«</a>
                  </li>
                  <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
					  <span th:if='${item.current}' th:text='${item.number}'>1</span>
					  <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>
                  </li>
                  <li th:class="${page.hasNextPage}? '' : 'disabled'">
					  <span th:if='${not page.hasNextPage}'>»</span>
					  <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>»</a>
                  </li>
                  <li th:class="${page.lastPage}? 'disabled' : ''">
					  <span th:if='${page.lastPage}'>Último</span>
					  <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Último</a>
                  </li>
              </ul>
          </div>
        </div> 
									
				<hr></hr>
				
				<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center" colspan="6">Fluxo de Caixa Mensal</th>
						</tr>
						<tr>
							<th class="text-center" colspan="2">Previsto</th>
							<th class="text-center" colspan="2">Realizado</th>
							<th class="text-center" colspan="2">Faltante</th>
						</tr>
						<tr>
							<td class="text-center col-md-1" th:text="Pagar"></td>
							<td class="text-center col-md-1" th:text="Receber"></td>
							<td class="text-center col-md-1" th:text="Pagar"></td>
							<td class="text-center col-md-1" th:text="Receber"></td>
							<td class="text-center col-md-1" th:text="Pagar"></td>
							<td class="text-center col-md-1" th:text="Receber"></td>
					</tr>	
					</thead> 
					<tbody> 
					<tr>
						<td class="text-center col-md-1" th:text="${previstoPagar}"></td>
						<td class="text-center col-md-1" th:text="${previstoReceber}"></td> 
						<td class="text-center col-md-1" th:text="${realizadoPagar}"></td>
						<td class="text-center col-md-1" th:text="${realizadoReceber}"></td>
						<td class="text-center col-md-1" th:text="${calcFaltantePagar}"></td>
						<td class="text-center col-md-1" th:text="${calcFaltanteReceber}"></td>
					</tr>			 
					</tbody>				 			   		   		  		   	   			   		   		
				 </table>
				 <hr></hr>
			</div>	 
		</div>
		
		<div layout:include="DialogoConfirmacaoExclusao"></div>
		<div layout:include="DialogoConfirmacaoEmail"></div>

	</div>
</section>
</html>