<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">

<head>
	<title>Cobranca</title>
</head>

<section layout:fragment="conteudo">
   <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
    <h1>GuiaFinanças - Controle Financeiro</h1> 
   	 <p>Controle seus gastos/investimentos de forma simples <br />
   	 	e aprimore o gerenciamento das suas finanças</p> 
  </div>
  </div>
</section>
</html>