<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="panel-footer">
			 <div class="panel-footer clearfix">
      			  <div>
      			  	 <img  align="left" alt="Cas" th:src="@{/images/logon.png}" /> 
	   					<p> Copyright © 2018 | Casilva Soluções em TI Uberlândia - MG <br></br> 
	   						Contato: casilvadev@gmail.com
	   					</p> 
	   		   	   </div>
	   		 </div>
</div>
</html>

